body {
  font-family: "IBM Plex Serif", serif;
  margin: 0 auto;
  padding: 0;
}
header {
  margin: 0;
}

nav {
  font-size: 2rem;
  text-align: center;
  background-color: #d9d9d9;
  padding: 30px;
  color: #145753;
  font-weight: 700;
  margin: 0;
  position: fixed;
  width: 100%;
}
h3 {
  margin: 0;
}

form {
  padding: 130px 10px 30px;
  display: grid;
  flex-direction: column;
  align-items: center;
  background-color: #e6dfd9;
}

#blogpost {
  text-align: center;
  padding: 10px;
}

button {
  padding: 12px 9px;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: block;
  color: #e6dfd9;
  font-weight: 600;
  font-size: 1.2em;

  background-color: #002729;
}

button:hover,
button:focus {
  background-color: #575757;
  color: #729599;
}

input {
  margin-bottom: 12px;
}
textarea {
  margin-bottom: 12px;
}

label {
  vertical-align: top;
}

/* Typography */

h2 {
  color: #7e8c14;
  font-weight: 500;
}

p {
  color: #594827;
}

label {
  font-weight: 700;
  color: #7e8c69;
}
